---
import AbilityBox from "../abilities/AbilityBox.astro";
import Section from "../sections/Section.astro";
import TitleSection from "../sections/SectionTitle.astro";
import abilities from "../../data/abilities.json"
---

<Section sectionId="abilities">
    <TitleSection>Habilidades</TitleSection>
    <div class="flex flex-row flex-wrap gap-20 min-h-full place-content-center w-7/12 pb-32
                max-sm:gap-10 max-sm:w-4/5">
        {abilities.map(ability => (
                <AbilityBox id={ability.id}
                            title={ability.title}
                            abbreviation={ability.abbreviation}
                            icon={ability.icon}
                            color={ability.color} />
        ))}
    </div>
</Section>